
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,web
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,web

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Web ###
# *.asp
# *.cer
# *.csr
# *.htm
# *.js
# *.jsp
# *.php
# *.rss
# *.wasm
# *.wat
# *.xhtml

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,web